/* Googlefont Poppins CDN Link */

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
    .logo-details {
        height: 80px;
        display: flex;
        align-items: center;
        i {
            font-size: 28px;
            font-weight: 500;
            color: #fff;
            min-width: 60px;
            text-align: center;
        }
        .logo_name {
            color: #fff;
            font-size: 24px;
            font-weight: 500;
        }
    }
    .nav-links {
        margin-top: 10px;
        li {
            position: relative;
            list-style: none;
            height: 50px;
            a {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                text-decoration: none;
                transition: all 0.4s ease;
                &:hover {
                    background: #081D45;
                }
                .links_name {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 400;
                    white-space: nowrap;
                }
            }
            a.active {
                background: #081D45;
            }
            i {
                min-width: 60px;
                text-align: center;
                font-size: 18px;
                color: #fff;
            }
        }
        .log_out {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}

.sidebar.active {
    width: 60px;
    ~ {
        .home-section {
            width: calc(100% - 60px);
            left: 60px;
            nav {
                left: 60px;
                width: calc(100% - 60px);
            }
        }
    }
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
    nav {
        display: flex;
        justify-content: space-between;
        height: 80px;
        background: #fff;
        display: flex;
        align-items: center;
        position: fixed;
        width: calc(100% - 240px);
        left: 240px;
        z-index: 100;
        padding: 0 20px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;
        .sidebar-button {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 500;
        }
        .search-box {
            position: relative;
            height: 50px;
            max-width: 550px;
            width: 100%;
            margin: 0 20px;
        }
        .profile-details {
            display: flex;
            align-items: center;
            background: #F5F6FA;
            border: 2px solid #EFEEF1;
            border-radius: 6px;
            height: 50px;
            min-width: 190px;
            padding: 0 15px 0 2px;
        }
    }
    .home-content {
        position: relative;
        padding-top: 104px;
    }
}

nav {
    .sidebar-button {
        i {
            font-size: 35px;
            margin-right: 10px;
        }
    }
    .search-box {
        input {
            height: 100%;
            width: 100%;
            outline: none;
            background: #F5F6FA;
            border: 2px solid #EFEEF1;
            border-radius: 6px;
            font-size: 18px;
            padding: 0 15px;
        }
        .bx-search {
            position: absolute;
            height: 40px;
            width: 40px;
            background: #2697FF;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 4px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            font-size: 22px;
            transition: all 0.4 ease;
        }
    }
    .profile-details {
        img {
            height: 40px;
            width: 40px;
            border-radius: 6px;
            object-fit: cover;
        }
        .admin_name {
            font-size: 15px;
            font-weight: 500;
            color: #333;
            margin: 0 10px;
            white-space: nowrap;
        }
        i {
            font-size: 25px;
            color: #333;
        }
    }
}

.home-content {
    .overview-boxes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 20px;
        margin-bottom: 26px;
    }
    .box {
        .number {
            display: inline-block;
            font-size: 35px;
            margin-top: -6px;
            font-weight: 500;
        }
        .indicator {
            display: flex;
            align-items: center;
            i {
                height: 20px;
                width: 20px;
                background: #8FDACB;
                line-height: 20px;
                text-align: center;
                border-radius: 50%;
                color: #fff;
                font-size: 20px;
                margin-right: 5px;
            }
            .text {
                font-size: 12px;
            }
        }
        .cart {
            display: inline-block;
            font-size: 32px;
            height: 50px;
            width: 50px;
            background: #cce5ff;
            line-height: 50px;
            text-align: center;
            color: #66b0ff;
            border-radius: 12px;
            margin: -15px 0 0 6px;
        }
        .cart.two {
            color: #2BD47D;
            background: #C0F2D8;
        }
        .cart.three {
            color: #ffc233;
            background: #ffe8b3;
        }
        .cart.four {
            color: #e05260;
            background: #f7d4d7;
        }
    }
    .total-order {
        font-size: 20px;
        font-weight: 500;
    }
    .sales-boxes {
        display: flex;
        justify-content: space-between;
        .card-content {
            width: 65%;
            background: #fff;
            padding: 20px 30px;
            margin: 0 20px;
            border-radius: 12px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }
        .card-content_full {
            width: 100%;
            background: #fff;
            padding: 20px 30px;
            justify-content: space-between;
            margin: 20px 20px;
            border-radius: 12px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }
        .sales-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .top-sales {
            width: 35%;
            background: #fff;
            padding: 20px 30px;
            margin: 0 20px 0 0;
            border-radius: 12px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }
    }
}

.overview-boxes {
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 4 - 15px);
        background: #fff;
        padding: 15px 14px;
        border-radius: 12px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    .box-topic {
        font-size: 20px;
        font-weight: 500;
    }
}

.box {
    .indicator {
        i.down {
            background: #e87d88;
        }
    }
}

.sales-boxes {
    .box {
        .title {
            font-size: 24px;
            font-weight: 500;
        }
        .button {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            a {
                color: #fff;
                background: #0A2558;
                padding: 4px 12px;
                font-size: 15px;
                font-weight: 400;
                border-radius: 4px;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover {
                    background: #0d3073;
                }
            }
        }
    }
    .sales-details {
        li.topic {
            font-size: 20px;
            font-weight: 500;
        }
        li {
            list-style: none;
            margin: 8px 0;
            a {
                font-size: 18px;
                color: #333;
                font-size: 400;
                text-decoration: none;
            }
        }
    }
    .top-sales {
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
            a {
                img {
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    border-radius: 12px;
                    margin-right: 10px;
                    background: #333;
                }
                display: flex;
                align-items: center;
                text-decoration: none;
            }
            .product {
                font-size: 17px;
                font-weight: 400;
                color: #333;
            }
        }
    }
}

.price {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.position {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }
    .sidebar.active {
        width: 220px;
        ~ {
            .home-section {
                overflow: hidden;
                left: 220px;
                nav {
                    width: calc(100% - 220px);
                    left: 220px;
                }
            }
        }
    }
    .home-section {
        width: calc(100% - 60px);
        left: 60px;
        nav {
            width: calc(100% - 60px);
            left: 60px;
        }
    }
}

@media (max-width: 1150px) {
    .home-content {
        .sales-boxes {
            flex-direction: column;
            .box {
                width: 100%;
                overflow-x: scroll;
                margin-bottom: 30px;
            }
            .top-sales {
                margin: 0;
            }
        }
    }
}

@media (max-width: 1000px) {
    .overview-boxes {
        .box {
            width: calc(100% / 2 - 15px);
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 700px) {
    nav {
        .sidebar-button {
            .dashboard {
                display: none;
            }
        }
        .profile-details {
            .admin_name {
                display: none;
            }
            i {
                display: none;
            }
        }
    }
    .home-section {
        nav {
            .profile-details {
                height: 50px;
                min-width: 40px;
            }
        }
    }
    .home-content {
        .sales-boxes {
            .sales-details {
                width: 560px;
            }
        }
    }
}

@media (max-width: 550px) {
    .overview-boxes {
        .box {
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .sidebar.active {
        ~ {
            .home-section {
                nav {
                    .profile-details {
                        display: none;
                    }
                }
            }
        }
    }
}

.jenis_surat {
    margin: 0 auto;
    padding: 5px;
    font-size: 14px;
    border-radius: 20px;
    text-transform: capitalize;
    width: 90px;
    display: block;
    text-align: center;
    color: #fff;
}

.keluar {
    background-color: #ff0404;
    border-color: transparent;
}

.masuk {
    background-color: #23d160;
    border-color: transparent;
}